- current_user.rewarded_answers.each do |a|
  p
    =a.question.title + ' | '
    =a.question.prize.praise + ' | '
    =image_tag a.question.prize.reward.variant(resize: "32x32"), alt: "Награда!" if  a.question.prize.reward.attached?


