= link_to 'Vote UP', polymorphic_path( votable_model, action: :vote_up), method: :post, class: "btn btn-outline-primary vote", remote: true
strong id="amount-#{votable_model.class.name.downcase}-#{votable_model.id}" = votable_model.amount
= link_to 'Vote DOWN', polymorphic_path( votable_model, action: :vote_down), method: :post, class: "btn btn-outline-primary vote", remote: true